.companies_list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  height: calc(100vh - 100px);
}

.message {
  margin-left: 10px;
  margin-top: 10px;
  
    &__title {
      font-size: 24px;
      width: 100px;
      margin-left: 20px;
      padding: 10px;
    }

    &__body {
      font-size: 16px;
      padding: 10px;
    }
}

@media screen and (max-width: 768px) {
  .companies_list {
    &__title {
      font-size: 28px;
    }
  }
}